<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/rental">Rental</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/rentals">Show Rentals</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/booking">Booking</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/showBooking">View Bookings</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">logout</a>
            </li>



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.username}]]</b>
            </p>

        </form>
    </div>
    <div>
        <h1>List of your items for Rent</h1>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Rental Type</th>
                <th>Manufacturer</th>
                <th>Watts</th>
                <th>Cost Per Night</th>
                <th>Location Zip</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rental: ${listRentals}">
                <td th:text="${rental.type}">Rental Type</td>
                <td th:text="${rental.make}">Manufacturer</td>
                <td th:text="${rental.watts}">Watts</td>
                <td th:text="${rental.pricePerNight}">Cost Per Night</td>
                <td th:text="${rental.locationZip}">Location Zip</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>